<% include ../_common/templates/sonnet_top %>
	<!-- <img src="./frames/f1.jpg" class="trace" /> -->
	<p class="text t1">
		Buying<br/>
		insurance<br/>
		shouldn’t<br/>
		take <br/>
		decades.
	</p>

	<p class="text t2 t2a">Get insured<br/>in only<br/></p>
	<p class="text t2 t2b">5 minutes.</p>

	<!-- <div class="line"></div> -->
<% include ../_common/templates/sonnet_bottom %>