<% include ../_common/templates/sonnet_top %>
	<!-- <img src="./frames/f1.jpg" class="trace" /> -->
	<p class="text t1">
		Vous êtes<br/>
		à quelques pas<br/>
		d’être assuré.
	</p>
	<p class="text t2 t2a">
		Assurez-vous en<br/>
		seulement 5 minutes.
	</p>
	<p class="text t2 t2b"></p>
	
	<div class="line"></div>
	
<% include ../_common/templates/sonnet_bottom %>

