@import './common.scss';

#banner{
	width: 728px;
	height: 90px;
	// color: red;
}

.hero {
	@include pos-scale(166, 0, .5);
}

.line{	
	@include pos(451, 27);
	height:42px;
}

.logo{
	@include pos(474, 24);
	width: 110px;
}

.cta{	
	@include pos-scale(582, 16, 0.63);		
}