@import '../../../_common/styles/size_300x250.scss';

.frame{
	// opacity: 1;
}


.t1{	
	font-size: 18px;
	@include pos(0, 8);
	line-height: 22px;
}

.t2{
	text-align: right;
	font-size: 14px;
	@include pos(11, 197);
	line-height: 17px;
	&.t2b{
		@include pos(7, 214);
	}
}

