<% include ../_common/templates/sonnet_top %>
	<!-- <img src="./frames/f1.jpg" class="trace" /> -->
	<p class="text t1">
		S’assurer<br/>
		ne devrait<br/>
		pas prendre<br/>
		des<br/>
		décennies.
	</p>

	<p class="text t2 t2a">Assurez-vous<br/>
en ligne<br/>
en seulement<br/>
5 minutes.</p>
	<p class="text t2 t2b"></p>

	<!-- <div class="line"></div> -->
<% include ../_common/templates/sonnet_bottom %>

