@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/fr.scss';


.frame{
	// opacity: 1;
}

#banner{
	width: 160px;
	height: 600px;
}



.t1{	
	font-size: 25px;
	@include pos(0, 414);
	line-height: 27px;	
	letter-spacing: -0.6px
}

.hero {
	@include pos-scale(0, 85, .5);
}


.logo{
	@include pos(13, 36);
	width: 134px;
}

.cta{		
	@include pos-scale(6, 483, 0.7);	
}