@import '../../../_common/styles/common.scss';

.frame{
	// opacity: 1;
}

#banner{
	width: 728px;
	height: 90px;
	// color: red;
}

.t1{	
	font-size: 16px;
	width: initial;
	@include pos(18, 16);
	line-height: 19px;
}

.t2{
	text-align: right;
	font-size: 16px;
	@include pos(326, 28);
	line-height: 17px;
	&.t2b{
		@include pos(326, 47);
	}
}

.hero {
	@include pos-scale(166, 0, .5);
}

.line{	
	@include pos(451, 27);
	height:42px;
}

.logo{
	@include pos(474, 24);
	width: 110px;
}

.cta{
	width: 67px;
	height: 29px;
	@include pos(617, 20);	
	.black{
		
	}	
}