@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/fr.scss';


.frame{
	// opacity: 1;
}

#banner{
	width: 300px;
	height: 250px;
	// color: red;
}



.t1{	
	font-size: 26px;
	@include pos(0, 13);
	line-height: 27px;	
}

.hero {
	@include pos-scale(0, 35, .5);
}


.logo{
	@include pos(27, 193);
	width: 115px;
	// border: 1px solid red;
}

.cta{	
	@include pos-scale(142, 150, 0.72);	
}