@import '../../../_common/styles/fr_size_300x600.scss';

.frame{
	// opacity: 1;
	// color:red;
}


.t1{	
	font-size: 30px;
	@include pos(0, 30);
	line-height: 33px;	
}

.t2{
	text-align: center;
	width: 100%;
	font-size: 24px;
	letter-spacing: 0.7px;
	@include pos(0, 364);
	line-height: 26px;
	
}