<% include ../_common/templates/sonnet_top %>
	<!-- <img src="./frames/f1.jpg" class="trace" /> -->
	<p class="text t1">
		Times have<br/>
		changed.<br/>
		So has<br/>
		insurance.</p>
	<p class="text t2 t2a">No<br/>guesswork.</p>
	<p class="text t2 t2b">No<br/>confusion.</p>
	<!-- <div class="line"></div> -->
<% include ../_common/templates/sonnet_bottom %>

