<% include ../_common/templates/sonnet_top %>		
	<!-- <img src="./frames/f1.jpg" class="trace" /> -->
	<p class="text t1">
		Le monde a changé.<br/>
		Enfin, l’assurance aussi.</p>
	<p class="text t2 t2a">Rien de compliqué.</p>
	<p class="text t2 t2b">Rien à compter.</p>
	<div class="line"></div>
<% include ../_common/templates/sonnet_bottom %>
