<% include ../_common/templates/sonnet_top %>
<!-- <img src="./frames/f1.jpg" class="trace" />	 -->
	<p class="text t1">
		Assurez-vous<br/>
		entièrement en ligne !
	</p>
<% include ../_common/templates/sonnet_bottom %>

