<% include ../_common/templates/sonnet_top %>	
	<!-- <img src="./frames/f1.jpg" class="trace" /> -->
	<img class="logo"  src="../_common/images/logo.svg" inline>
	<p class="text t1 t1a">No guesswork.</p>
	<p class="text t1 t1b">No confusion.</p>
	<% include ../_common/templates/cta %>	
	</div>	
</div>