<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		<img src="./frames/f1.jpg" class="trace" />
		<p class="text t1">Buying insurance shouldn’t<br/>
			be a song and dance.</p>
		<img class="retina hero" src="./images/hero.jpg" inline />

		<p class="text t2">No guesswork.<br/>No confusion.</p>
		<div id="line"></div>
		<img id="logo"  src="../_common/images/logo.svg" inline>
	</div>	
</div>