@import '../../../_common/styles/common.scss';


.frame{
	// opacity: 1;
}

#banner{
	width: 160px;
	height: 600px;
}



.t1{	
	font-size: 25px;
	@include pos(0, 414);
	line-height: 27px;	
	
}

.hero {
	@include pos-scale(0, 85, .5);
}


.logo{
	@include pos(13, 36);
	width: 134px;
}

.cta{	
	@include pos-scale(6, 476, 0.56);	
}