@import '../../../_common/styles/fr_size_300x600.scss';

.frame{
	// opacity: 1;
	// color:red;
}


.t1{	
	font-size: 28px;
	@include pos(0, 30);
	line-height: 32px;	
	letter-spacing: .2px;
}

.t2{
	text-align: center;
	width: 100%;
	font-size: 26px;
	letter-spacing: 0.5px;
	@include pos(0, 383);
	line-height: 18px;
	&.t2b{
		@include pos(0, 413);
	}
}
