<% include ../_common/templates/sonnet_top %>
		<!-- <img src="./frames/f1.jpg" class="trace" /> -->
	<p class="text t1">
		You’re one step<br/>
		away from<br/>
		being insured.</p>
	<p class="text t2 t2a">Get insured in</p>
	<p class="text t2 t2b">only 5 minutes.</p>
<% include ../_common/templates/sonnet_bottom %>

